* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --base: #f7f7f7;
    --mid-green: #a3e635;
    --green: #16a34a;
    --blue: #155e75;
    
}

body {
    background-color: var(--base);
    font-family: "roboto", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    
    
}

.container{
    width: 85%;
    margin:auto;
    overflow:hidden;
    

}



header {
    height: 120px;
    
}




.logo {
    float: left;
    width: 160px;
    margin-top: 36px; 
    
}

header ul {
    float: right;
}


.navbar{
    color: black;
    display: flex;
    justify-content:space-around
    
}

.navbar ul{
    
    list-style: none;
    
}

.navbar li{
    display: inline-block;
    margin-top: 50px;
     
}

.navbar a{
    color: var(--off-white);
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    margin-right: 15px;
    display: inline-block;
    text-transform: uppercase;
    
    
}

.navbar .burger-menu {
    display: none;
    width: 30px;
    position: absolute;
    top: 35px;
    right: 10px;
}





@media screen and (max-width:650px) {
      .navbar .burger-menu{
        display: block;
      }
      
      .nav-links {
        position: absolute;
        flex-direction: column;
        width:100%;
        height:100vh;
        padding:0;
        margin:0;
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(183, 188, 188, 0.729);
        backdrop-filter: blur(5px);
        margin: 15px 0;
        font-size: 24px;
        font-weight: 400;
        margin-left: -100%;
      }

      .nav-links.mobile-menu {
        margin-left: 0;
      }

      .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;

      }

      
    }

    


.navbar a:hover {
    transition: 0.3s;
    color: rgba(31,151,153,1);
    padding: 5px;
    border-left: 2px solid rgba(31,151,153,1);
    border-right: 2px solid rgba(31,151,153,1);
    border-radius: 5px;
} 
.showcase {
    background-image: url('../assets/alpes.jpg');
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    
    
}

.container h1{
    font-size: 35px;
    text-transform: uppercase;
    line-height: 2em;
    color: var(--base);
    text-align: center;
    margin: 70px 0 40px 0;
    
}



.form {
    
    margin: auto;
    max-width: 500px;
    background: rgb(31,151,153);
    background: linear-gradient(0deg, rgba(31,151,153,1) 0%, rgba(150,146,8,1) 100%);
}

 .main {
    margin: 0;
    max-width: 30%;
    min-width: 300px;
    display: inline-block;
    padding: 2rem 1rem 2rem 1rem;
    background-color: var(--blue);
    

}

.main h2 {
  margin: 0.5em 0 0.5em 0;
  font-weight: bolder;
  color: white;
  
  
}

.line hr {
    border: 4px solid white;
    max-width: 3vw;
    min-width: 80px;
    margin-top: 25px;
    padding: 0;
    
}

.whoami {
    padding: 1em;
    color: white;
    text-justify: distribute;
}


.main-footer{
    text-align: center;
    padding: 5px;
    margin-top: 230px;
    background-color: .07413a;
    color: var(--off-white);
}


.form {
    max-width: 768px;
    display: flex;
    background-color: var(--iceberg);
    align-items: space-around;
    padding: 2em 0;
    
}

.form-left {
    text-align: left;
    width: 40%;
    color: whitesmoke;
    padding-left: 2.5em;
    align-content: center;
    padding-right: 2em;
    
      
}

.form-left h3 {
    font-weight: 800;
      
}

.form-left p {
    text-align: left;
    color: whitesmoke;
}


 
.placeholder-text {
    
    opacity: 100%;
    font-weight: lighter;
    transition: 0.5s ease-in-out;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: white;

    
    

}


    input {
        display: grid;
        width: clamp(120px, 50vw, 420px);
        height: 2.5rem;
        padding: 0 1rem;
        background-color: beige; opacity: 50%;
        border: 1px solid black;
        color: darkcyan ;
        font-weight: lighter;
        border-radius: 2px;
        margin: 0.425rem auto;
        @media (min-width: 768px) {
          width: clamp(120px, 35vw, 420px);
        }
    }


    
     input::placeholder {
        transition: 0.5s ease-in-out;
        color: darkcyan;
        font-weight: bold; opacity: 80%;
        font-style: italic;
        

    }

     input:focus::placeholder {
        transform: translate(1.25rem, -2.5rem);
        
        
        

    }

    input:focus {
        background: white;
        opacity: 100%;
        transition: 0.2s ease-in-out;

    }

     input:focus ~ .placeholder-text {
        opacity: 0;
        font-size: 1rem;
        color: #fff;
        
        

    }

    

    .textbox {

        display: grid;
        width: clamp(120px, 50vw, 420px);
        
        height: 10rem;
        padding: 0 1.25rem;
        border: 1px solid black;
        color: darkcyan;
        font-weight: 400;
        font-size: 0.rem;
        text-align: center;
        border-radius: 4px;
        opacity: 60%;
        @media (min-width: 768px) {
          width: clamp(120px, 35vw, 420px);
          
        }
    }

    .textbox:focus {
        background-color: white;
        opacity: 100;
        transition: 0.5ms ease-in-out;

    }

    .btn {

        text-align: center;
        font-weight:600;
        text-decoration: none;
        letter-spacing: -0.05em;
        background-color: var(--blue);
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 6px;
        box-shadow: 0 10px 20px rgba(8, 188, 243, 0.9),0 6px 6px 
        rgba(7, 188, 243, 0.9), 0 0 100px -10px rgb(5, 191, 247);
        transition: transform 0.3s, box-shadow 0.3s;
        margin: 1em;

    }

    .btn:hover {
        transform:translateY(-3px);
        box-shadow: 0 14px 28px rgb(19, 95, 118, 0.4),0 10px 10px 
        rgb(19, 95, 118, 0.22), 0 0 120px -10px rgb(19, 95, 118);

    }

    .submit-btn {
        text-align: center;
    }



























    


    



